.filtered-table th, td, label, legend { padding:0.2rem }
.filtered-table table { border-collapse: collapse }

.filtered-table {
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.filtered-table form,
.filtered-table table,
.filtered-table th {
  border: 0.7px black solid;
  padding: 0.3rem;
}

.filtered-table th {
  text-align: left;
}

.twoColumnNarrowWideGrid {
  padding: 0.3rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content;
  align-items: center;
  justify-items: start;
  grid-column-gap: 1rem;
}

/*div,span { border: 0.3px blue dashed}*/
